nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #ffffff; 
  z-index: 1000; 
}



nav a {
  text-decoration: none;
  color: #222;
 
  transition: color 0.2s ease;
}

nav a:hover {
  color: #007bff; /* or your accent color */
}

body{
     font-family: "Mako", sans-serif;
     margin: 0;
}

hr{
    border: none;
    height: 2px;
    background-color: black;
    opacity: 60%;
}
a{
    padding: 0;
    margin: 0;
    background: none;
    border: none;
    font-style: inherit;
    text-decoration: inherit;
    color: inherit;
}
a:hover{
    font-style: italic;
    color: blue;
}
ul{
   
}
li{
    margin-left: -2%;
}
fieldset{
    margin-top: 30px;
    margin-left: 40%;
    margin-right: 40%;
    text-align: center;
    border-radius: 40px;
}
.logo {
    width: 200px;
    height: auto;
    text-align: center;
    display: block; 
    margin: 0 auto; 

}

.insta{
    height: 34px;
    width: auto;
    top: 28px;
    left: 460px;
    position: absolute;
}
.ttk{
    height: 40px;
    width: auto;
    position: absolute;
    top: 25px;
    left: 400px;
}

.insta:hover{
    transform: scale(1.2);
}

.ttk:hover{
    transform: scale(1.2);
}

@media (max-width: 1000px){
    .text{
    text-align: justify;
    margin-left: 20px;
    margin-right: 20px;
    }
}
@media (min-width: 1001px){
    .text{
    text-align: justify;
    margin-left: 30%;
    margin-right: 30%;
    }
}


@media (max-width: 1000px){
    .titles{
    text-align: justify;
    margin: 20px;
    float: center;
    
    }
}
@media (min-width: 1001px){
    .titles{
    margin-left: 30%;
    margin-top: 40px;
    }
}




.titles:hover{
    font-style: scale(1.1);
}

.char{
    font-style: italic;
    text-align: center;
    opacity: 60%;
    font-size: 16px;
    margin-top: 30px;
}
.title{
    
    text-align: center;
}

.imgs{
    margin-top: 30px;
    width: 100%;
    border-radius: 10px;
}


.st{
    color: blue;
}


.p{
    margin-left: -8%;
    font-size: 20px;
    opacity: 70%;
}

.ad{
    display: block;     
    margin: 0 auto;
    height: 70px;
    border-radius: 30px;
}

.w{
    font-size: 50px;
    font-family: "Bebas Neue", sans-serif;
    margin-left: 60px;
    margin-top: 13px;
}

.title2{
    margin-top: 40px;
    text-align: center;
    font-family: "Bebas Neue", sans-serif;
    font-size: 50px;
}

.yt{
    display: block;
    margin: 0 auto;
    width: 50%;
    border-radius: 20px;
    height: 400px;
}

.priv{
    font-size: 20px;
    margin-left: 20px;
    margin-bottom: 35px;
}

.blog{
    text-align: center;
    margin-top: 30px;
    width: 300px;
   
}

.blogminor{
    border-radius: 20px;
    display: flex;
  justify-content: center;
  align-items: center;
}

.spc{
    margin-bottom: 10px;
}
.space{
    margin-bottom: 70px;
}

.header{
    background-color: #ffffff;

}

.ft{
    height: 30px;
    width: auto;

}

.ft:hover{
    scale: 1.1;
    
}

.ft1{
    height: 30px;
    width: auto;
    padding: 10px;
}

.ft1:hover{
    scale: 1.1;
    
}

.logotext{
    font-size: 25px;
    font-family: "Bebas Neue", sans-serif;
    text-align: center;
    padding: 5px;
    padding-left: 30px;
    
    
}

.logotext:hover{
    color: black;
    text-decoration: none;
}

.head{
    height: 2px;
    background-color: black;
    margin-top: -5px;
}

